spring:
  application:
    name: SongTamLa

  datasource:
    url: jdbc:postgresql://localhost:5432/songtamla
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update   # 개발 단계에서만
    show-sql: true
    properties:
      hibernate:
        format_sql: true

  servlet:
    multipart:
      max-file-size: 200MB
      max-request-size: 200MB

  rabbitmq:
    host: localhost
    port: 5672
    username: admin
    password: 1111

logging:
  level:
    org.hibernate.SQL: debug